{{! Main battle app and nav bar }}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Pizza Puzzler:  The Riddling Chef Adventure</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ribeye&display=swap"
      rel="stylesheet"
    />
    <!-- Overworld styles -->
    <link href="/js/game/styles/global.css" type="text/css" rel="stylesheet" />
    <link
      href="/js/game/styles/TextMessage.css"
      type="text/css"
      rel="stylesheet"
    />
    <link
      href="/js/game/styles/SceneTransition.css"
      type="text/css"
      rel="stylesheet"
    />
    <link
      href="/js/game/styles/KeyboardMenu.css"
      type="text/css"
      rel="stylesheet"
    />
    <link href="/js/game/styles/Hud.css" type="text/css" rel="stylesheet" />
    <link
      href="/js/game/styles/TitleScreen.css"
      type="text/css"
      rel="stylesheet"
    />
    <!-- Battle css -->
    <link href="/js/game/styles/Battle.css" type="text/css" rel="stylesheet" />
    <link
      href="/js/game/styles/Combatant.css"
      type="text/css"
      rel="stylesheet"
    />
    <link
      href="/js/game/styles/SubmissionMenu.css"
      type="text/css"
      rel="stylesheet"
    />
    <link href="/js/game/styles/Team.css" type="text/css" rel="stylesheet" />
    <link href="/js/game/styles/Menus.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" href="" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Kanit:wght@200&family=Orbitron:wght@500&family=Pixelify+Sans:wght@500&family=Poppins:wght@200;400&display=swap"
      rel="stylesheet"
    />

  </head>
  <body>
    <div class="jumbotron jumbotron-fluid text-center">
      <h1 class="display-4 home-title"><a id="theriddle" href="/">Pizza Puzzler</a></h1>
      <hr class="my-0" />
    </div>
    <ul class="nav d-flex justify-content-between" id="nav">
      <li class="nav-item">
        <a class="nav-link active" href="/">Home</a>
        {{! Links to home }}
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/test">Game</a>
      </li>
      <li class="nav-item">
        {{#if loggedIn}}
          <button
            class="nav-link"
            {{! href='#' }}
            tabindex="-1"
            aria-disabled="true"
            id="logout"
          >Logout</button>
          {{! Goes home if user logs out}}
        {{else}}
          <a
            class="nav-link"
            href="/login"
            tabindex="-1"
            aria-disabled="true"
            id="login"
          >Login</a>
        {{/if}}
      </li>
    </ul>
    <main>
      {{{body}}}
    </main>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    {{! <script src="/js/main.js"></script> }}
    {{#if loggedIn}}
      <script src="/js/logout.js"></script>
    {{/if}}
    {{! <script src='/js/menu/profile.js'></script> }}
    <!-- Content -->
    <script src="/js/game/Content/pizzas.js"></script>
    <script src="/js/game/Content/actions.js"></script>
    <script src="/js/game/Content/enemies.js"></script>

    <!-- State -->
    <script src="/js/game/State/PlayerState.js"></script>

    <!-- Scripts -->
    <script src="/js/game/utils.js"></script>
    <script src="/js/game/DirectionInput.js"></script>
    <script src="/js/game/Overworld.js"></script>
    <script src="/js/game/GameObject.js"></script>
    <script src="/js/game/Person.js"></script>
    <script src="/js/game/PizzaStone.js"></script>
    <script src="/js/game/Sprite.js"></script>
    <script src="/js/game/OverworldMap.js"></script>
    <script src="/js/game/OverworldEvent.js"></script>
    <script src="/js/game/TextMessage.js"></script>
    <script src="/js/game/KeyPressListener.js"></script>
    <script src="/js/game/RevealingText.js"></script>
    <script src="/js/game/SceneTransition.js"></script>
    <script src="/js/game/KeyboardMenu.js"></script>
    <script src="/js/game/Hud.js"></script>
    <script src="/js/game/PauseMenu.js"></script>
    <script src="/js/game/CraftingMenu.js"></script>
    <script src="/js/game/Progress.js"></script>
    <script src="/js/game/TitleScreen.js"></script>

    <!-- Battle -->
    <script src="/js/game/Battle/Battle.js"></script>
    <script src="/js/game/Battle/Combatant.js"></script>
    <script src="/js/game/Battle/Team.js"></script>
    <script src="/js/game/Battle/SubmissionMenu.js"></script>
    <script src="/js/game/Battle/ReplacementMenu.js"></script>
    <script src="/js/game/Battle/BattleEvent.js"></script>
    <script src="/js/game/Battle/TurnCycle.js"></script>
    <script src="/js/game/Battle/BattleAnimations.js"></script>

    <script src="/js/game/init.js"></script>

  </body>
</html>