<div class="game-container">
  <canvas class="game-canvas" width="352" height="198"></canvas>
</div>

<!-- Content -->
<script src="/js/game/Content/pizzas.js"></script>
<script src="/js/game/Content/actions.js"></script>
<script src="/js/game/Content/enemies.js"></script>

<!-- State -->
<script src="/js/game/State/PlayerState.js"></script>

<!-- Scripts -->
<script src="/js/game/utils.js"></script>
<script src="/js/game/DirectionInput.js"></script>
<script src="/js/game/Overworld.js"></script>
<script src="/js/game/GameObject.js"></script>
<script src="/js/game/Person.js"></script>
<script src="/js/game/PizzaStone.js"></script>
<script src="/js/game/Sprite.js"></script>
<script src="/js/game/OverworldMap.js"></script>
<script src="/js/game/OverworldEvent.js"></script>
<script src="/js/game/TextMessage.js"></script>
<script src="/js/game/KeyPressListener.js"></script>
<script src="/js/game/RevealingText.js"></script>
<script src="/js/game/SceneTransition.js"></script>
<script src="/js/game/KeyboardMenu.js"></script>
<script src="/js/game/Hud.js"></script>
<script src="/js/game/PauseMenu.js"></script>
<script src="/js/game/CraftingMenu.js"></script>
<script src="/js/game/Progress.js"></script>
<script src="/js/game/TitleScreen.js"></script>

<!-- Battle -->
<script src="/js/game/Battle/Battle.js"></script>
<script src="/js/game/Battle/Combatant.js"></script>
<script src="/js/game/Battle/Team.js"></script>
<script src="/js/game/Battle/SubmissionMenu.js"></script>
<script src="/js/game/Battle/ReplacementMenu.js"></script>
<script src="/js/game/Battle/BattleEvent.js"></script>
<script src="/js/game/Battle/TurnCycle.js"></script>
<script src="/js/game/Battle/BattleAnimations.js"></script>

<script src="/js/game/init.js"></script>