<div class="col d-flex justify-content-center flex-row">
  <img class="home-img" src="/images/pizza-goblin.gif" />
  <p class="instruction">

    In the heart of a bustling little town, Luigi Linguini was a passionate
    pizza chef determined to revolutionize the pizza scene. With a twirled
    mustache and a perpetual gleam in his eye, Luigi declared war on bland and
    ordinary pizzas. Armed with secret family recipes passed down through
    generations, Luigi set out to create the most extraordinary and
    mouthwatering pizzas the town had ever seen.
    <br />
    <br />
    Luigi Linguini, armed with a rolling pin and an unwavering spirit, set out
    on a delicious quest. His goal was simple: to craft pizzas so extraordinary
    that they would triumph over all others in the local culinary arena. From
    the small legendary pizza stone, the tantalizing aroma of innovation filled
    the air.
  </p>
</div>

{{! <script src='/js/menu/home.js'></script> }}