<div class="col d-flex justify-content-center flex-row">
      <img class="home-img" src="/images/pizza-goblin.gif">
      <p class="instruction">
        In the lively town of Pizzaville, pizza maestro Luigi Linguini sets out on a daring quest to win the prestigious Pizza Puzzler competition. Faced with a series of cryptic riddles scattered across themed pizzerias, Luigi uses his culinary genius to solve each puzzle. Along the way, he encounters eccentric characters and rival chefs, all vying for the coveted title of "Master Pizza Artisan."<br><br>
        As Luigi collects ingredients and overcomes challenges, the climax unfolds at the mysterious Pizza Paradox atop Mount Margherita. In a thrilling showdown, Luigi tackles the ultimate riddle, unveiling a pizza masterpiece that incorporates the unique elements he gathered during his journey. The town watches in awe as Luigi Linguini cements his status not only as a pizza virtuoso but also as the triumphant Pizza Puzzler Champion.<br><br>
        Will he become the champion Pizza Puzzler? Find out by clicking on "Login" to Sign Up or Login to start the game!
      </p>
  {{/if}}
</div>

{{! <script src='/js/menu/home.js'></script> }}