.body {
    background-color: #201c24;
}

#nav {
    background: radial-gradient(circle, rgb(136, 213, 233) 0%, rgb(136, 82, 236) 100%);;
}

.home-title {
    background-color: #201c24;
    padding: 20px;
    font-size: 4rem;
    font-family: 'Pixelify Sans', sans-serif;
}

.nav-item {
    color: #201c24;
    font-size: 1.5rem;
    font-family: 'Pixelify Sans', sans-serif;
}
.nav-link {
    color: #201c24;
    font-family: 'Pixelify Sans', sans-serif;
}

.background {
    background-color: #201c24;
    height: 100%;
}

.m-1, .m-2 {
    margin: 2rem!important;
}

.card {
    max-height: 500px;
}

.card-text-white {
    color:white
}

.login-card {
    max-width: 400px;
    margin: 100px;
    color: white;
}

.white-text {
    color: white;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: -0.25rem;
}

#post-background {
    padding: 50px;
}
